<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Sparta Vocabulary Notebook</title>
    <meta property="og:title" content="Sparta Vocabulary Notebook"/>
    <meta property="og:description" content="mini project for Web Plus"/>
    <meta property="og:image" content="{{ url_for('static', filename='images/logo_red.png') }}"/>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/e95795d6c0.js" crossorigin="anonymous"></script>
    <script>
        {% if msg %}
            alert("{{ msg }}")
        {% endif %}
        let words = {{ words|tojson }};
        let word_list = [];
        for (let i = 0; i < words.length; i++) {
            word_list.push(words[i]["word"])
        }

        function find_word() {
            let word = $("#input-word").val().toLowerCase();
            if (!word) {
                alert("please write something first :)")
                return
            }
            if (word_list.includes(word)) {
                let w = $(`#word-${word}`)
                w.addClass('highlight').siblings().removeClass('highlight')
                w.get(0).scrollIntoView();
            } else {
                window.location.href = `/detail/${word}?status_give=new`
            }
        }
        function keypress() {
            if (event.key === 'Enter') {
                find_word()
            }
        }

    </script>
    </head>
    <body>
        <div class="wrap">
            <div class="banner" onclick="window.location.href = '/'">
            </div>
            <div class="search-box d-flex justify-content-center">
                <input id="input-word" class="form-control" style="margin-right: 0.5rem" onkeydown="keypress()">
                <label for="input-word"></label>
                <button class="btn btn-light" onclick="find_word()"><i class="fa fa-search"></i></button>
            </div>
            <table class="table">
                <thead class="thead-light">
                <tr>
                    <th scope="col" style="width:25%">WORD</th>
                    <th scope="col">MEANING</th>
                </tr>
                </thead>
                <tbody id="tbody-box">
                {% for word in words %}
                    <tr id="word-{{ word.word }}">
                        <td><a href="/detail/{{ word.word }}?status=old">{{ word.word }}</a></td>
                        <td>{{ word.definition }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </body>
</html>